.infoboxes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.infobox {
	width: 24rem;
	height: auto;
	border: 1px solid #ccc;
	padding: 2.5rem 1rem;
	display: flex;
	cursor: pointer;

	.icon {
		width: 35%;
	}
	.text {
		h4 {
			font-size: 1.8rem;
			font-weight: 300;
		}
	}
}
